Source: plasma-phone-dev-setup
Section: misc
Priority: optional
Maintainer: Rohan Garg <rohangarg@kubuntu.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://github.com/plasma-mobile/dev-tools

Package: plasma-phone-dev-setup
Architecture: all
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: setup developer environment for plasma phone
 Tools to modify things on devices
